<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
  <title>Felipe Retrepo 13651</title>
  {% load static %}
	<link href="{% static 'extra.css' %}" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, 
  intitial-scale=1.0">
</head>

<body>
	<header>
    <nav class="navlist">
      <ul>
        <li id="shorth"><a href="index.html">home</a></li>
        <!-- <li><a href="pop.html">pop-art-icon</a></li> -->
        <!-- <li><a href="velvet.html">velvet underground</a></li> -->
        <li id="short1"><a href="films.html">films</a></li>
        <li><a href="iconiccovers.html">iconic covers</a></li>
        <li><a href="childhood.html">childhood</a></li>
        <li id="short2"><a href="extra.html">Extra</a></li>
      </ul>
    </nav>
	</header>
<div class="top">
<h1 id="extra">Extra! Extra! Read all about it! </h1>

<div class="feed">
  <h1>Give us feedback </h1>
<div class="whitebox">
  
<form method="POST"> {% csrf_token %}
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="Name">
  </div>

  <div>
    <label>from 1-5 how would you rate your expierence on the website</label>
    </br>
    <label for="exp">1</label>
    <input type="radio" id="exp" name="Exp" value="1">

    <label for="exp">2</label>
    <input type="radio" id="exp" name="Exp" value="2">

    <label for="exp">3</label>
    <input type="radio" id="exp" name="Exp" value="3">

    <label for="exp">4</label>
    <input type="radio" id="exp" name="Exp" value="4">

    <label for="exp">5</label>
    <input type="radio" id="exp" name="Exp" value="5">
  </div>

  <div>
    <label for="rev">Leave a review</label>
    <input type="text" id="rev" name="Rev">
  </div>
   

  <div>
    <label for="future">What should we write about next</label>
    <input type="text" id="future" name="Future">
  </div>
  <button type="submit">Submit</button>
</form>

</div>
</div>
</div>

<div class="review-outer">
  <div class="review-section">
    <h1>Website Reviews</h1>
    <p id="refresh">refresh to see submissions</p>
    <style>
      table {
          width: 100%;
          margin: auto;
          border: 1px solid black;
      }
      
      th, td {
          border: 1px solid black;
      }
    </style>
    <table>
      <tr>
          <th>User</th>
          <th>Rating</th>
          <th>Review</th>
          <th>Future</th>
      </tr>
      <tr>
          <td>{{ row1.Name }}</td>
          <td>{{ row1.Exp }}</td>
          <td>{{ row1.Rev }}</td>
          <td>{{ row1.Future }}</td>
      </tr>
      <tr>
          <td>{{ row2.Name }}</td>
          <td>{{ row2.Exp }}</td>
          <td>{{ row2.Rev }}</td>
          <td>{{ row2.Future }}</td>
      </tr>
    </table>
  </div>
</div>



 


<div class="bottom">
  <h1 id="museum">Check out the andy warhol museum &#8594;</h1>
  <!-- <a href="https://www.warhol.org/"><img src="pink.png"/></a> -->
  <h1 id="bookh">Andy Warhol Books</h1>
  <div class="books">
      <!-- <img id="book1" src="book1.jpg"/>
      <img id="book2" src="book2.jpg"/> -->
  </div>
  <h1 id="resourcesh">Resources</h1>
  <dl>
    <dt>warhol left image</dt>
    <dd>https://www.pbs.org/wnet/americanmasters/files/2022/03/service-pnp-gtfy-04400-04483v.jpg</dd>
    <dt>warhol right image</dt>
    <dd>https://2.bp.blogspot.com/-h3XKRSJk2Yk/WdEd-JEfjsI/AAAAAAAAB_E/0TZoB5rsUKkS8_N4uKi7fk5QXux3pKQnACLcBGAs/s1600/GettyImages-670030-e1474897148893%255B1%255D.jpg</dd>
    <dt>Album Collage</dt>
    <dd>https://assets.phillips.com/image/upload/t_Website_LotDetailMainImage/v1/auctions/NY030117/45_001.jpg</dd>
  </dl>
</div>

<!-- <script src="script.js">  -->
</script>

</body>	
<footer>
  <ul>
    <li>Felipe</li>
    <li>Restrepo</li>
    <li>13651</li>
  </ul>
</footer>
</html>
